@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional");

:root {
  --text-color:#8E7E74;
  --text-grey: #CFC8C4;
  --btn-pink: #FFAC89;
  --btn-hover-pink: #FF7D45;
  --btn-yellow: #FFFCE3;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC';
}
main{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 100px 0;
  background: url('./assets/bgimage.png');
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
}
.container{
  width: 960px;
  margin: auto;
}

.man-grid{
  position: absolute;
  width: 200px;
  aspect-ratio: 25/39;
  bottom: 0;
}
.man-grid.right{
  right: 20%;
}
.man-grid.left{
  left: 20%;
}
.man-grid.left-right{
  left: calc(20% + 250px);
}
.man-grid .man{
  display: flex;
  width:100%;
  height: 100%;
  background-position: center center;
}
.man .name-mark{
  display: inline-block;
  border-radius: 20px;
  background-color: #fff;
  color: var(--text-color);
  font-size: 20px;
  padding: 4px 15px;
  width: 60px;
  height: 30px;
  text-align: center;
  transform: translateY(-20px);
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);
}
.man.right{
  justify-content: flex-end;
}
.man.left{
  justify-content: flex-start;
}
.man.pink{
  background: url('./assets/man_pink.png');
  background-size: 100%;
}
.man.yellow{
 background: url('./assets/man_yellow.png');
 background-size: 95%;
 background-repeat: no-repeat;
}
.man.brown{
 background: url('./assets/man_brown.png');
 background-size: 90%;
 background-repeat: no-repeat;
}
.man.black{
 background: url('./assets/man_black.png');
 background-size: 90%;
 background-repeat: no-repeat;
}
.chat-card + .chat-card{
  margin-top: 20px;
}
.chat-card, .header-card, .sort-card,.radio-card, .paper-card {
  position: relative;
  width: 550px;
  padding: 50px 70px;
  border-radius: 30px;
  font-size: 20px;
  line-height: 40px;
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);
}
.header-card.yellow:before,
.header-card.brown:before,
.header-card.black:before{
  content: "";
  position: absolute;
  height: 150px;
  width: 90px;
  /* aspect-ratio: 3/1; */
  right: 0;
  top: -30px;
  background-image: url('./assets/man_yellow.png');
  background-size: 75px;
  background-repeat: no-repeat;
}
.header-card.brown:before{
  background-image: url('./assets/man_brown.png');
}
.header-card.black:before{
  background-image: url('./assets/man_black.png');
}

.sort-card.yellow{
  background-color: var(--btn-yellow);
}
.chat-card .img > img {
  height: 20px;
  margin: 0;
}
.header-card{
  width: auto;
  padding: 20px 80px;
}
.sort-card,.radio-card{
  margin: 20px auto 0 auto;
  padding: 20px 30px;
  width: calc(50% - 10px);
  text-align: center;
  background-color: #fff;
}
.sort-card .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sort-card button{
  margin: 20px 0;
  width: 100%;
}
.sort-card .grid{
    height: 40px;
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
    border: 2px dashed var(--text-grey);
}
.sort-card .grid.active{
  border: 1px solid var(--text-color);
  background-color: #D7FFAE;
}
.sort-card .hint{
  display: block;
  font-size: 14px;
  height: 40px;
    color: var(--text-grey);
}
.sort-card .hint img{
  height: 12px;
}
.chat-card .pink{
  color: var(--btn-pink);
  font-weight: 400;
}
.radio-card{
  width: 70%;
}
.radio-card .title{
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  margin-top: 15px;
}
.radio-card .content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.radio-card .radio{
  display: block;
  position: relative;
  border-radius: 25px;
  text-align: left;
  color: var(--text-color);
  border: 1px dashed var(--text-color);
  font-size: 20px;
  padding: 5px 10px;
}
.radio-card .radio:hover{
   background: #F4F3F2;
}
.radio-card .radio.check{
   background: #FFAC894D;
}
.radio-card .radio .circle{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid var(--text-color);
  background-color: #fff;
  margin-right: 15px;
  transform: translateY(3px);
}
.radio-card .radio.check .circle::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--btn-pink);
}
.radio-card .radio span:not(.circle){
  display: inline-block;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.back-btn{
  position: fixed;
  bottom: 15px;
  left: 30px;
  width: 40px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url('@/assets/back.png');
  background-size: 40px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.start-btn, 
.start-btn2{
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: var(--btn-pink);
  margin-top: 20px;
  margin-left: auto;
  cursor: pointer;
}
.start-btn2{
  border: 1px solid var(--text-grey);
  color: var(--text-grey);
  background-color: transparent;
}
.start-btn2:hover{
  background-color: var(--btn-yellow);
}
.start-btn:hover{
  background-color: var(--btn-hover-pink);
}
.start-btn img, .start-btn2 img{
  height: 20px;
}

.pink-btn{
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 5px;
  color: #fff;
  border: none;
  background-color: var(--btn-pink);
  cursor: pointer;
}
.pink-btn:hover{
  background-color: var(--btn-hover-pink);
}
.m-auto{
  margin: auto;
}